* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #f1f1f1;
}

nav button {
    display: block;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 1em;
}

main {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.kleding {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}