* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
}

nav h1 {
    padding: 1em;
}

nav a {
    display: flex;
    min-height: 100%;
    aspect-ratio: 1/1;
    padding: 0 2em;
    background-color: lightgray;
    color: black;
    border: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

main {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.kleding {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}